.currencySelection {
    margin: 5rem;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #888;
    width: 20em;
}

.selectedCurrencies {
    display: flex;
}

.availableCurrencies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}