.currency {
    cursor: pointer;
    border: 1px solid #232323;
    display: flex;
    margin: 0.2em;
    padding: 0.2em;
    background-color: #ececec;
    width: 5.5em;
    height: 1em;
}

.currency.selected {
    background-color: #fff;
}

.currency:hover {
    background-color: #bdbdbd;
}

.currency input {
    margin: 0 0.3em;
}

.title {
    color: #030761;
    line-height: 0.9em;
}