.currencySelection {
    margin: 1em;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #888;
    width: 20em;
}

.selectedCurrencies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 2em;
    text-align: center;
}

.tooMany {
    border: 1px solid #c00;
}

.emptyCurrencies {
    width: 100%;
    text-align: center;
}

.availableCurrencies {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}